@import url(reset.css);

.body {
    font-family: "Quicksand", sans-serif;
    color: #6E59A5;
    background-color: #F3F0FC;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.header {
    .header__title {
        font-size: 3.5rem;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    max-width: 85vw;

    width: 100%;

    margin-bottom: 1rem;

    .main__header {
        display: flex;
        max-width: 60vw;
        justify-content: space-between;
        width: 100%;
    }
}

.grid {
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);

    max-width: 50vw;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    width: 5.75rem;
    aspect-ratio: 1;
    cursor: pointer;

    font-size: 2.5rem;

    position: relative;

    background-color: #E5DEFF;

    border-radius: 0.5rem;
    border: 2px solid #9B87F5;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.199);

    &:hover {
        scale: 1.05;
    }


    .card__front {
        opacity: 0%;
        position: absolute;
        top: center;
        left: center;
        transition: all 200ms ease;
    }

    .card__back {
        position: absolute;
        top: center;
        left: center;
        
        font-weight: 600;
        transition: all 200ms ease;
    }
}

.card.flipped {

    transition: transform 200ms ease;

    transform: rotate3d(0, 1, 0, 180deg);

    .card__front {
        transition: all 200ms ease;
        opacity: 100%;
    }

    .card__back {
        transition: all 200ms ease;
        opacity: 0%;
    }
}

.tracker {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 5rem;

    .tracker__points {
        font-weight: 600;
        font-size: 1.5rem;
    }
}

.current-player {
    font-size: 2.5rem;
    font-weight: 700;

    justify-self: center;
    align-self: center;
}

.btn {
    border: 1px solid #9B8BF6;
    background-color: #F9F8FC;
    border-radius: 0.5rem;

    height: 2rem;

    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.199);

    transition: transform 75ms ease;

    &:active {
        transform: translateY(5px);
    }
}

.btn--link {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    text-decoration: none;
    color: black;

    transition: transform 75ms ease;

    &:active {
        transform: translateY(5px);
    }

}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-color: #F3F0FC;
    width: 30rem;
    height: 20rem;

    border: 2px solid #9B87F5;
    border-radius: 0.5rem;

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.199);

    padding: 1rem;

    .btn {
        width: 10rem;
    }
}

.modal__background {
    position: absolute;

    background-color: rgba(255, 255, 255, 0.541);
    backdrop-filter: blur(3px);

    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.active {
    color: rgb(17, 199, 17);
}

